@page
@model Capstonep2.Pages.Manage.Patient.PViewDetailsModel
@using Capstonep2.Infrastructure.Domain.Models.Enums;
@{
}
<h1 class="text-center text-uppercase">APPOINTMENT DETAILS</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-autos">
            <div class="card">
                <div class="card-header ">
                    <h3 class="text-center text-uppercase">Patient Information</h3>
                </div>

                <div class="card-body ">
                    <table class="table table-bordered table-striped">

                        <tr>
                            <th scope="col">Name: </th>
                            <td class="text-uppercase">@Model.View.Appointment.Patient.FirstName @Model.View.Appointment.Patient.MiddleName @Model.View.Appointment.Patient.LastName </td>
                        </tr>
                        <tr>
                            <th scope="col">Gender:</th>
                            <td class="text-uppercase">@Model.View.Appointment.Patient.Gender</td>
                        </tr>
                        <tr>
                            <th scope="auto">Birthdate:</th>
                            <td scope="auto" class="text-uppercase">@Model.View.Appointment.Patient.BirthDate</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td class="text-uppercase"> @Model.View.Appointment.Patient.Address</td>
                        </tr>
                        <tr>
                            <th>Contact No:</th>
                            <td class="text-uppercase">@Model?.View?.Appointment?.Patient?.Contact</td>
                        </tr>

                    </table>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="card">
        <div class="card-header ">
            <h3 class="text-center text-uppercase">Appoinment Details</h3>
        </div>
        <div class="card-body ">

            <table class="table table-bordered table-striped">

                <tr>
                    <th>Date And Time: </th>
                    <td class="text-uppercase"> @Model.View.Appointment.StartTime - @Model.View.Appointment.EndTime </td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td class="text-uppercase">@Model.View.Appointment.Status</td>
                </tr>
                <tr>
                    <th>Syptoms:</th>
                    <td class="text-uppercase">@String.Join(",   ",Model.View.SymptomsList)</td>
                </tr>
                <tr >
                    <th>PurposeOfVisit:</th>
                    <td class="text-uppercase">@String.Join(",   ",Model.View.PurposesList)</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        
        <div class="card-header text-uppercase">
            <h2 class="text-center">Consultation Details</h2>
        </div>
        <div class="card-body ">
            <table class="table table-bordered table-striped">
                <tr>
                    <th >Findings:</th>
                    <td class="text-uppercase">@String.Join(",  ", Model.View.FindingsList)</td>
                </tr>
                <tr>
                    <th >Descriptions:</th>
                    <td class="text-uppercase">@Model.View.Appointment.FDescription</td>
                </tr>
                <tr>
                    <th >Prescription:</th>
                    <td class="text-uppercase">@String.Join(",   ", Model.View.PrescriptionsList)</td>
                </tr>
                <tr>
                    <th >Descriptions:</th>
                    <td class="text-uppercase">@Model.View.Appointment.PDescription</td>
                </tr>
            </table>

        </div>

    </div>

</div>


<div class="container">
    <a href="~/manage/patient/Dashboard?" class="btn btn-info text-uppercase">
        <i class="fa fa-pencil">BACK</i>
    </a>
    <a href="~/manage/Qrcode/generator?id=@Model.View.Appointment.ID" class="btn btn-info text-uppercase">
        <i class="fa fa-pencil">Generate Qr</i>
    </a>
    
    @if (Model.View.Appointment.Status != Status.Pending)
    {
        <button class="btn btn-success text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit" disabled>
            EDIT
        </button>

        <button type="button" class="btn btn-danger text-uppercase" data-bs-toggle="modal" data-bs-target="#cancel" disabled>
            <i class="fa fa-pencil">CANCEL</i>
        </button>
    }
    else
    {
        <button class="btn btn-success text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit">
            EDIT
        </button>

        <button type="button" class="btn btn-danger text-uppercase" data-bs-toggle="modal" data-bs-target="#cancel">
            <i class="fa fa-pencil">CANCEL</i>
        </button>
    }
    

    <div class="collapse" id="collapseEdit">
        <div class="card">
            <div class="card-header">
                <p>Edit appointment</p>
            </div>
            <div class="card-body bg-mustardlite">
                <form method="Post" asp-page-handler="Apptsedit">
                    <label>Symptoms</label>
                    <div class="form-group justify-content-center">
                        <select class="form-control selectSintomas" name="View.SymptomsEdit" multiple>
                            @{
                                if (Model.View.Symptoms != null && Model.View.Symptoms.Count() > 0)
                                {
                                    foreach (var symptom in Model.View.Symptoms)
                                    {
                                        <option value="@symptom.Id">@symptom.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>



                    <label>Purpose Of Visit</label>
                    <div class="form-group justify-content-center w-100">
                        <select class="form-control selectDahilan w-100" name="View.PurposesEdit" multiple>
                            @{
                                if (Model.View.Purposes != null && Model.View.Purposes.Count() > 0)
                                {
                                    foreach (var purpose in Model.View.Purposes)
                                    {
                                        <option value="@purpose.Id">@purpose.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <input type="hidden" asp-for="View.ApptId" value="@Model.View.ApptId"/>
                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   

    <div class="modal fade" id="cancel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel Appoinment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>

                <div class="modal-body bg-mustardlite">
                    <p>Are you sure you want to cancel this appoinment</p>
                </div>
                <div class="modal-footer bg-mustardlite">
                   <form method="Post" asp-page-handler="Canceled">
                   <input type="hidden" class="form-control" asp-for="View.ApptId" value="@Model.View.ApptId">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $('.selectSintomas').select2({
            ajax: {
                url: '?handler=symptomedit',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>
    <script>
        $('.selectDahilan').select2({
            ajax: {
                url: '?handler=purposeedit',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>
}













