@page
@model Capstonep2.Pages.Manage.Admin.ViewpatientModel
@{
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-autos">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-uppercase">PATIENT INFORMATION</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Name:</th>
                            <td>@ViewData["firstname"] @ViewData["middlename"] @ViewData["lastname"]</td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>@ViewData["gender"]</td>
                        </tr>
                        <tr>
                            <th>Birthdate:</th>
                            <td>@ViewData["birthdate"]</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>@ViewData["address"]</td>
                        </tr>
                        <tr>
                            <th>Contact No:</th>
                            <td>@ViewData["contact"]</td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="row justify-content-center">
        <div class="col-autos">
           <div class="card">
               <div class="card-header">
                    <h3 class="text-uppercase">PATIENT RECORDS</h3>
                </div>
                <div class="card-body ">
                    @if (Model.View != null && Model.View.Appointments != null && Model.View.Appointments.Count > 0)
                    {
                        <table class="table table-bordered bg-mustardlite">
                            <thead class="table-dark">
                                <tr class="thead-gray">
                                    <th scope="col">DateTime</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var appointment in Model?.View?.Appointments)
                                    {
                                        <tr class="table-light">
                                            <td>@appointment.StartTime</td>
                                            <td>@appointment.Visit</td>
                                            <td>@appointment.Status</td>
                                            <td>
                                                <a href="~/manage/consultation/Viewdetails?id=@appointment.ID" class="btn btn-info">
                                                    <i class="fa fa-pencil">View</i>
                                                </a>
                                            </td>


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>


                    }
                </div>

           </div>
        </div>
    </div>
</div>

<div class="container">
<a href="~/manage/admin/Dashboard?" class="btn btn-info text-uppercase">
    <i class="fa fa-pencil">BACK</i>
</a>
<button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit">
    Create Record
</button>

<div class="collapse" id="collapseEdit">
    <div class="card">
        <div class="card-header">
            <p>Create New Record</p>
        </div>
        <div class="card-body bg-mustardlite">
            <form method="Post" asp-page-handler="Record">
                <div class="form-group justify-content-center">
                    <input type="datetime-local" id="picker" data-format="mm-dd-yyyy" class="form-control" asp-for="View.StartTime">
                    <input type="hidden" placeholder="Enter Address" asp-for="View.ApptId" value="@Model.View.ApptId">
                </div>
                <label>Symptoms</label>
                <div class="form-group justify-content-center">
                    <select class="form-control selectSymptom" name="View.SList" multiple>
                        @{
                            if (Model.View.Symptoms != null && Model.View.Symptoms.Count() > 0)
                            {
                                foreach (var symptom in Model.View.Symptoms)
                                {
                                    <option value="@symptom.Id">@symptom.Name</option>
                                }
                            }
                        }
                    </select>
                </div>



                <label>Purpose Of Visit</label>
                <div class="form-group justify-content-center w-100">
                    <select class="form-control selectPurpose w-100" name="View.VList" multiple>
                        @{
                            if (Model.View.Purposes != null && Model.View.Purposes.Count() > 0)
                            {
                                foreach (var purpose in Model.View.Purposes)
                                {
                                    <option value="@purpose.Id">@purpose.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <label>Findings</label>
                <div class="form-group justify-content-center w-100">
                    <select class="form-control selectFinding w-100" name="View.FList" multiple>
                        @{
                            if (Model.View.Findings != null && Model.View.Findings.Count() > 0)
                            {
                                foreach (var finding in Model.View.Findings)
                                {
                                    <option value="@finding.ID">@finding.FName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="View.FDesc">Findings Description</label>
                    <input type="text" class="form-control" placeholder="Description" maxlength="500" name="View.FDesc" asp-for="View.FDesc">
                </div>

                <label>Prescriptions</label>
                <div class="form-group justify-content-center w-100">
                    <select class="form-control selectPrescription w-100" name="View.PList" multiple>
                        @{
                            if (Model.View.Prescriptions != null && Model.View.Prescriptions.Count() > 0)
                            {
                                foreach (var prescription in Model.View.Prescriptions)
                                {
                                    <option value="@prescription.ID">@prescription.GName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="View.PDesc">Prescriptions Descriptions</label>
                    <input type="text" class="form-control" placeholder="Description" maxlength="500" name="View.PDesc" asp-for="View.PDesc">
                </div>
                <input type="hidden" class="form-control" placeholder="Enter Address" asp-for="View.PatientID" value="@Model.View.PatientID">
                <div class="form-group alert-danger">
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreate">
        Set Appointment
    </button>

    <div class="collapse" id="collapseCreate">
        <div class="card">
            <div class="card-header">
                <p>Appointment</p>
            </div>
            <div class="card-body bg-mustardlite">
                <form method="Post" asp-page-handler="Setappt">
                    <div class="form-group justify-content-center">
                        <label asp-for="View.StartTime">StartTime</label>
                        <input type="datetime-local" id="picker" data-format="mm-dd-yyyy" class="form-control" placeholder="Enter user name" asp-for="View.StartTime">
                    </div>

                    <label>Symptoms</label>
                    <div class="form-group justify-content-center">
                        <select class="form-control selectSymptom" name="View.SList" multiple>
                            @{
                                if (Model.View.Symptoms != null && Model.View.Symptoms.Count() > 0)
                                {
                                    foreach (var symptom in Model.View.Symptoms)
                                    {
                                        <option value="@symptom.Id">@symptom.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <label>Purpose Of Visit</label>
                    <div class="form-group justify-content-center w-100">
                        <select class="form-control selectPurpose w-100" name="View.VList" multiple>
                            @{
                                if (Model.View.Purposes != null && Model.View.Purposes.Count() > 0)
                                {
                                    foreach (var purpose in Model.View.Purposes)
                                    {
                                        <option value="@purpose.Id">@purpose.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <input type="hidden" class="form-control" placeholder="Enter Address" asp-for="View.PatientID" value="@Model.View.PatientID">
                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="row align-content-center justify-content-center">
                        <button type="submit" class=" col-5 btn btn-success border border-light justify-content-center">Submit</button>
                    </div>
                    <div class="row align-content-center justify-content-center">
                        <a href="~/manage/dashboard/admin/" class=" col-5 btn btn-info border border-light justify-content-center">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts 
{
    <script>
        $('.selectSymptom').select2({
            ajax: {
                url: '?handler=symptom',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>


    <script>
        $('.selectPurpose').select2({
            ajax: {
                url: '?handler=purpose',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>

    <script>
        $('.selectFinding').select2({
            ajax: {
                url: '?handler=finding',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>

    <script>
        $('.selectPrescription').select2({
            ajax: {
                url: '?handler=pres',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>

    <script>
        $('.selectSymptom').select2({
            ajax: {
                url: '?handler=symptom',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>


    <script>
        $('.selectPurpose').select2({
            ajax: {
                url: '?handler=purpose',
                data: function (params) {
                    var query = {
                        keyword: params.term,
                        page: params.page || 1
                    }
                    return query;
                },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            }
        });
    </script>
}














